- @title = 'Feature Requests'

- form_for @new_feature_request do |f|
  = f.label :description, 'Description'
  = f.text_area :description, :size => 100, :rows => 3, :cols => 43
  %br
  = f.label :submitted_by_name, 'Your Name'
  = f.text_field :submitted_by_name, :size => 50
  %br
  = f.label :submitted_by_email, 'Your Email Address'
  = f.text_field :submitted_by_email, :size => 50
  %br
  = f.submit 'Add Feature Request'

#tabs
  %ul
    %li
      %a{:href => '#backlog-tab'}
        %span Backog
    %li
      %a{:href => '#done-tab'}
        %span Done
  #backlog-tab
    .feature-requests
      - @backlog_feature_requests.each do |feature_request|
        .feature-request.ui-corner-all
          = feature_request.description
          - if logged_in? and feature_request.status != FeatureRequest::DONE_STATUS
            = link_to "Done!", {:action => :done, :id => feature_request.id}, {:method => :put}
          .votes
            Votes:
            %span{:id => "vote#{feature_request.id}"}
              = feature_request.votes
            = link_to_remote "+1", :url => vote_feature_request_url(feature_request.id), :method => :put, :success => "$('#vote#{feature_request.id}').text(request)"
  #done-tab
    .feature-requests
      - @done_feature_requests.each do |feature_request|
        .feature-request.ui-corner-all
          = feature_request.description
          .votes
            Votes:
            = feature_request.votes
          .subtitle
            Completed on
            = feature_request.updated_at.to_date.to_formatted_s(:short)

= javascript_tag '$("#tabs").tabs();'
