!!! Strict
%html{html_attrs('en')}
  %head
    %title= @title.nil? ? "" : "#{@title}"
    = stylesheet_link_tag 'styles.css', 'ui-lightness/jquery-ui-1.7.2.custom.css'
    = javascript_include_tag :defaults
  %body
    #header
      .links
        = link_to 'Feature Requests', feature_requests_url
        |
        - if logged_in?
          = link_to "Logout (#{current_user.login})", logout_url
        - else
          = link_to 'Login', login_url
      %h1= @title.nil? ? "" : "#{@title}"
    #main
      = yield